<div class="container">
  <div class="card shadow mb-4">
      <div class="card-body">
          <table class="table table-striped">
              <thead>
                  <tr> <th>Id</th><th>Nombre</th> <th>Usuario</th>  <th>Pasword</th><th>Foto</th><th>Sucursal</th> </tr>
              </thead>
              <tbody *ngFor="let produit of produits">
                  <tr>
                      <td>{{produit.idProduit}}</td>
                      <td>{{produit.nomProduit}}</td>
                      <td>{{produit.prixProduit}}</td>
                      <td>{{produit.dateCreation | date:'dd/MM/yyyy'}}</td>
                      <!-- <td>{{produit.nomProduit}}</td> -->
                      <td *ngIf="authService.isAdmin()">
                        <img *ngIf="!produit?.nomProduit"
                        src="http://localhost:8080/api/uploads/img/{{produit.nomProduit}}" alt="{{produit.nomProduit}}" class="img-thumbnail rounded"
                        style="width:60px; ">

                        <img *ngIf="produit?.nomProduit"
                          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Sin foto" class="img-thumbnail rounded"
                          style="width:60px;">
                      </td>
                      <td>{{produit.categorie?.nomCat}}</td>
                      <td><a *ngIf="authService.isAdmin()"
                           class="btn btn-success" [routerLink]="['/updateProduit',produit.idProduit]">Actualizar</a></td>
                           <td><a *ngIf="authService.isAdmin()"
                            class="btn btn-danger" (click)="supprimerProduit(produit)">Eliminar</a></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
