<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sistema de Matr&iacute;culas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="|Bienvenid@ |+${usuario.nombreApellido}">Bienvenid@</h1>
        <br/><br/><br/>
        <a th:href="@{usuarioListar.do}">Mantenimiento de Usuarios</a>
        <br/><br/><br/>
        <a th:href="@{cursoMostrar.do}">Consulta de Cursos</a>
        <br/><br/><br/>
        <a th:href="@{matriculaMostrar.do}">Mantenimiento de Matriculas</a>
    </body>
</html>
