<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Ideal Para Ambientes Onpremise-->        
    <!---->
    <bean id="impresoraService" class="edu.cibertec.capitulo1.service.ImpresoraService" >        
        <constructor-arg ref="documentoTexto"/>
    </bean>
    
    <bean id="impresoraExcelServiceBean" class="edu.cibertec.capitulo1.service.ImpresoraService" >
        <property name="documento" ref="documentoExcel" />
    </bean>
    <bean id="impresoraTextoServiceBean" class="edu.cibertec.capitulo1.service.ImpresoraService" >
        <property name="documento" ref="documentoTexto" />
    </bean>
    
    <bean id="documentoExcel" class="edu.cibertec.capitulo1.beans.DocumentoExcel" >
    </bean>
    <bean id="documentoTexto" class="edu.cibertec.capitulo1.beans.DocumentoTexto" >
    </bean>
</beans>
